.button {
  --translation: -3px;

  align-items: center;
  background-color: var(--color-black);
  border: 0;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  min-height: var(--input-height);
  padding: 0 20px;
  position: relative;
  transform: translate(var(--translation), var(--translation));
  width: 100%;

  &[disabled] {
    background-color: var(--color-jumbo);
    color: var(--color-white);

    &::before {
      border-color: var(--color-jumbo);
    }
  }

  &::before {
    border: 1px solid var(--color-black);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(2px, 2px);
    width: 100%;
  }

  &:focus {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    outline: 0;
  }
}

.label {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
