:root {
  --margin-bottom: 20px;
}

.container {
  display: flex;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.image {
  background-color: var(--color-porcelain);
  margin: 0;
  padding: 0;
  width: 70%;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.data {
  font-size: 16px;
  padding: 20px;
  width: 30%;

  @media screen and (max-width: 800px) {
    box-sizing: border-box;
    width: 100%;
  }
}

.info {
  margin-bottom: var(--margin-bottom);
}

.category {
  color: var(--color-jumbo);
  display: block;
  margin-bottom: 2px;
}

.name {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 24px;
  margin-bottom: 7px;
}

.chooser {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-bottom);
  position: relative;
}

.colors {
  margin-bottom: var(--margin-bottom);
  width: 100%;
}

.sizes {
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(66% - 10px);
}

.quantity {
  width: 34%;
}

.cta {
}
