:root {
  --color-alizarin-crimson: #e32b2b;
  --color-black: #000;
  --color-jumbo: #767677;
  --color-porcelain: #ebedee;
  --color-white: #fff;
  --color-transparent: rgba(0, 0, 0, 0);

  --input-height: 50px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}
