:root {
  --color-alizarin-crimson: #e32b2b;
  --color-black: #000;
  --color-deep-cerulean: #0071ae;
  --color-jumbo: #767677;
  --color-porcelain: #ebedee;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-white: #fff;

  --input-height: 50px;

  --max-width: 1280px;
}

body {
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
}

@font-face {
  font-display: swap;
  font-family: AdihausDIN;
  font-style: normal;
  font-weight: 400;
  src: url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Regular.woff2)
      format('woff2'),
    url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Regular.ttf)
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: AdihausDIN;
  font-style: normal;
  font-weight: 700;
  src: url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Bold.woff2)
      format('woff2'),
    url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Bold.ttf)
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: AdihausDIN Cn;
  font-style: normal;
  font-weight: 500;
  src: url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-CnMediumItalic.woff2)
      format('woff2'),
    url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-CnMediumItalic.ttf)
      format('truetype');
}

@font-face {
  font-display: swap;
  font-family: AdineuePRO;
  font-style: normal;
  font-weight: 400;
  src: url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/adineuePRO-Regular.woff2)
      format('woff2'),
    url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/adineuePRO-Regular.woff)
      format('woff');
}

@font-face {
  font-display: swap;
  font-family: AdineuePRO;
  font-style: normal;
  font-weight: 600;
  src: url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/adineuePRO-Bold.woff2)
      format('woff2'),
    url(https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/adineuePRO-Bold.woff)
      format('woff');
}
